

/***Master Font Style***/

body{
  font-family: 'Montserrat', sans-serif;
}


/****Split Page Between Left and Right Styling****/
.page-split{
  display:flex;
align-items:flex-start;
}


.footer{
  border:2px solid black;
}
