

/***Master Font Style***/

body{
  font-family: 'Montserrat', sans-serif;

}


/****Split Page Between Left and Right Styling****/
.page-split{
  display:flex;
align-items:flex-start;
}


.footer{
  background-color:#383434;
  position:fixed;
  bottom:0;
  width:100%;
}
