.option-image-size{
  width:65%;
  margin-bottom:2%;
}


.option-container{
  display:flex;
  align-items: center;
}

.options{

  font-size:.78rem;
  line-height:.5;
}



.options-container{
  width:100%;
}

.add-button{
  text-align:center;
  width:100%;

}

.btn-custom{
  width:80%;
}

.learn-more-container{
  display:flex;
  align-items: center;
}

.learn-more-button{
  background: #406ce4;
  border:none;
}
