.option-detail-modal{
  height:100px;
  border:1px solid black;

}

.options-modal-container{
  position:absolute;
  left:30%;
  right:30%;
  top:23%;
  background:white;
  border:1px solid black;
  text-align: center;
}

.modal-styling{
  display:flex;
  justify-content: space-between;
}
