.option-detail-modal{
  height:100px;
  border:1px solid black;

}

.options-modal-container{
  position:absolute;
  left:30%;
  right:0;
  top:23%;
  background:white;
  width:35%;
  border:1px solid black;
}
