

/**EXT Color Container**/
.exterior-color-container{
  margin-left:5%;
  width:80%;
  display:flex;
  justify-content: center;
}


/***Exter Color Styling***/
.exterior-color-btn{
  width:100%;
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/***Exterior Color Title***/
.exterior-color-title{
  margin-left:5%;
}

.exterior-individiual-color-button-container{
  display:flex;
  flex-direction:column;
}

/****Wheel render list alignement****/
.wheel-selection-master-container{
  width:100%;
}


/****Selected Exterior color name****/
.selected-exterior-color{
  font-size:1.0rem;
  margin-left:2%;
  font-weight: 600;
}
