.audi-container{
  width:50%;
  border-left:1px solid #e0e0e0;
  height:100vh;
}

.sections{
  display:flex;
  justify-content: space-around;
  margin-top:6%;
}

.right-side-background{
  background:#e0e0e0;
}
