.audi-container{
  width:50%;
  height:100vh;
}

.sections{
  width:99%;
  display:flex;
  justify-content: space-between;
  margin-top:6%;
}

.right-side-background{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  background:#fafafa;
}
