body{
  margin: 0 auto;
}


.build-section{
  width:100%;
  display:flex;
  justify-content: space-around;
}

/*******************************Left Card Styling*******************/

.audi-container{
  width:50%;
}

.section-left{
  width:100%;
  height:100vh;
}

.default-image{
  width:60%;
  position:absolute;
  top:24%;
  left:-3%;
  z-index:-1;
}

.spec{
  width:100%;
  display:flex;
  justify-content: space-around;
  margin-top:1.5%;
}

/*****Model, year, and spec of the car ****/
.reg-mark{
  font-size:1rem;
  vertical-align: super;
}

.audi-model{
  font-size:8rem;
  padding:0;
  margin:0;
}

.year-model{
  margin:0;
}

.description{
  position:relative;
  padding:0;
  margin-top:8%;
  margin-left:6%;
}

.current-trim-level{
  font-size:3.0rem;
}

/***** Car title picture and spec alignment****/
.row-section{
  display:flex;
  flex-direction:column;
  height:70vh;
  align-items: center;
}

/****Specification styling****/
.spec-category-style{
  font-size:.8rem;
  font-weight:600;
}

.engine-type{
  font-size:.7rem;
}
