

/***Wheel Image Size***/
.wheel-image-size{
  width:25%;
  border:1px solid black;
}

/***Wheel list alignment***/
.wheel-selection-alignment{
  display:flex;
}

.wheel-img-div-width{
  width:100%;
}
