

/****Master Trim Container ****/
.trim-container-width{
  width:100%;
}

/****Trim level container (Each Trim)****/
.trim-level-container{
  text-align:center;
}

/****Trim title***/
.trim-title{
  margin:1% 0% 3% 0%;
  font-size:1.3rem;
  text-align: start;
  margin-left:10%;
}


/****Trim Border styling ****/
.trim-border-style{
  display:flex;
  align-items: center;
  justify-content: center;
  height:75px;
  border:1px solid #808080;
  background:white;
  border-radius: 25px;
  margin:2% 8%;
}

/****Model title styling****/
.model-title-style{
  font-size:1.3rem;
  border-right:1px solid black;
  padding-right:10px;
}

/****Model Trim and Engine Layout alignment****/
.model-engine-layout-title-style{
  margin-left:16%;
  width:100%;
  display:flex;
  align-items: center;
}

.engine-layout-title{
  padding-left:10px;
  font-size:.95rem;
  font-weight:600;
  color:#505050;
}
